* {
    box-sizing: border-box;
}

body {
    display: grid;
    
    margin: 0;
    background-color: rgb(243, 235, 216);
    color:black;
    font-family: system-ui, -apple-system, BlinkMacSystemFont;
    font-size: 1rem;
    line-height: 1.6;
}

header {                   /* header-info 和 nav */
    display: flex;
    justify-content: space-between;
    padding: 0 24px;
    background-color: #0f0f10;
    /* background-color: #141f2e; */
}

.header-info {             /* logo-container 和 H1 */
    display: flex;
    justify-content: center;  /* 垂直方向居中 */
    align-items: center;      /* 水平方向居中 */
}

.header-info h1 {
    color: rgb(240, 240, 220);

}
/*  */
.logo-container {
    display:flex;
    flex-direction: column;
    justify-content: center;  /* 垂直方向居中 */
    align-items: center;      /* 水平方向居中 */
}

.logo-container img {
    width: 60px;
    height: 60px;
}

.logo-container span {
    font-size: 10px;
    color: rgb(175, 92, 252);
}

nav {
    position: relative; 
    display: flex;
    flex-direction: column;
    justify-content: center;  /* 垂直方向居中 */

}
.menu-button {
    border: none;
    border-radius: 16px;
    background-color: #5b5a5a;

    padding: 8px 12px;
    
    color: rgba(255, 255, 255, 0.87);
    font-size: 1.6rem;
    font-weight: 700;
}
.menu-button:hover{
    color: #295eff; 
    background-color:rgb(240, 240, 220); 
}
.submenu {
    position: absolute;
    opacity: 0;              /* 默认隐藏 */
    transform: scaleY(0);     /* 默认缩小 */

    top: 100%;                   
    /*width: 100%;                   只填满父容器nav大小 */
    border: 2px solid #ccc;
    border-radius: 8px;           

    list-style-type: none;   /* 去掉子元素li列表项仨点 */  
    /* li是submenu ul的直接子元素，a是li的直接子元素，所以在submenu去掉a链接的下划线是不work的 */
    padding: 0;
    margin: 0;
    text-align: center;   /* 文本/行内元素居中 */
    
    background-color: #5b5a5a;
}
@media (prefers-reduced-motion: no-preference){
    .submenu {
        transition: transform 0.3s ease, opacity 0.3s ease; 
    }
}    

.submenu.active {
    opacity: 1;
    transform: scaleY(1);
}

.submenu li {
    display: block;   /* 让每个菜单项占整行 */
    padding: 8px 12px;
}

.submenu li a {
    display: block;/* 让 <a> 也占满整个 <li>，增加可点范围 */ 
    text-decoration: none; 
    color: rgba(255, 255, 255, 0.87);
}
.submenu li a:hover{ 
    color: #295eff ; /* 改变文字颜色 */
    background-color: rgb(240, 240, 220);
}

.cards {
    display: flex;
    justify-content: center;/* 子项之间均匀分布，也可以试试 space-around 或 space-evenly */
    padding: 2rem 1rem;
}
/*.cards {
    display: grid;
    grid-template-columns: repeat(12, 1fr);  假设你有3个卡片，每个占1份 
    gap: 1rem;   卡片之间的间隙 
    padding: 2rem 1rem;
}  */

.card {
    flex: 1;       /* 每个卡片占据相同的空间 */
    margin: 0 0.5rem;  /* 设置左右间距 */
    text-align: center;
    background: white;
    border-radius: 18px; 
}

.card:hover{
    box-shadow: 0.6rem 0.6rem 1rem rgba(116, 126, 193, 0.5);
}

/* .card {
    grid-column: span 4;
    text-align: center;
    background: white;
    border-radius: 15px;
} */


.card img {
    width: 80px;
    height: 80px;
}

.card p {
    font-size: 1rem;
}

.card-button {
    text-decoration: none;
    border-radius: 12px;

    padding: 0.15rem 0.8rem;         /* 内边距调整按钮尺寸 */
    background-color: #8d2fdf;       /* 主色背景 */
    color: #fff;                   /* 文字白色 */
}

.footer-links {
    display: flex;

    justify-content: space-around;

    width: 100%;
    margin: 0;    /* 清除默认的上下外边距 */
    padding: 0.8rem 0;   

    background-color: #886a0740;
}

.footer-links li {
    list-style-type: none;
}

.footer-links li a {
    text-decoration: none; /* text-decoration 属性不会直接作用于列表容器或 <li> 元素，而是应用在文本或内联元素上（例如 <a> 标签） */
}
