* {
	box-sizing: border-box;
}

body {
	line-height: 1.2;
	font-size: 1rem;
	width: 100%;
	margin:0;
	background-color: burlywood;
}

/* ------header------ */
.header {
	/*  (header-info + nav) */
	display: flex;
	flex-direction: column;
}

.skiplink {
	/* 视觉隐藏但保持可访问性 */
	position: absolute;
	top: -1000px;  /* 把它移出屏幕 */
 	left: 50%;
}

.skiplink:focus {
    top: 10px;  /* 选中时，回到屏幕上 */
}

.header-info {
	/*子1 (logo-container + H1) */
	display: flex;
	align-items: center;
}

.logo-container {
	/* 子1.1  img + span */
	display: flex;
	flex-direction: column;
}

.logo-container img {
	border: 10px solid #fcfcaf;

	border-radius: 50%;

	width: 100px;
	height: 100px;
}

.header-info h1 {
	/* 子1.2  */
	flex: 1; /* 让 h1 占满除logo-container以外header-info剩余空间 */
	text-align: center; /* 让 h1 的文字居中 */
}

.nav {
	/* 子2 */
	position: relative; /* 父相 */
}

/* 隐藏汉堡按钮，默认显示菜单 */
.hamburger-button {
	display: none;
}

.menu {
	display: flex;
	justify-content: space-around;
	list-style-type: none;
}

.menu a {
	padding: 0.5rem;
}

.menu a:hover {
	color: white; /* 文字颜色变化 */
	background-color: dodgerblue; /* 背景色变化 */
}

.main {
	background-color: papayawhip;
	padding: 0.5rem;
}

.cards {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 0.5rem;
}

.card {
    grid-column: span 4;
	display: flex;
	flex-direction: column;

    justify-content: space-between; /* 保证内容之间有空间 */
	align-items: center;

    padding: 1rem;

    border-radius: 8px;
    border: 1px black solid;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

    background-color: #eee;
}

.card h3 {
    text-align: center; /* 标题居中 */
}

.card img {
    width: 200px;
    height: 200px;
    /* align-self: center; 使用 flex 居中图片 */
}

.card p {
    flex-grow: 1; /* 内容区域自适应填充  解决了：有一张卡片的文字太多，把图片和h3都顶上去了不能与其他卡片元素平行怎么办*/
}





.subscribe {
    border: none;
    color: blue;
    text-decoration: underline;  /* 添加下划线 */
    cursor: pointer; /* 鼠标悬停时变成手型 */

}


h4 {
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    gap: 1rem; /* 设置表单元素之间的间距 */
}

/* 设置每个表单项为单列布局 */
.form-group {
    display: flex;
    flex-direction: column;
}

.button-group {
    display: flex;
    justify-content: space-between;
    
    border: none;
    
}

.button-group .dialog-subscribeBtn {
    cursor: pointer; /* 设置鼠标悬停时为指针 */
    border-radius: 20px;
    padding: 0.5rem;
    font-size: 1.2rem;
    background-color: lime;
}

.button-group .cancel {
    cursor: pointer; /* 设置鼠标悬停时为指针 */
    border-radius: 20px;
    padding: 0.5rem;
    font-size: 1.2rem;
    background-color:lightcoral
}


.error {
    color: red;
}
/* footer */
.footer-links {
	display: flex;
	justify-content: space-around;
    /* justify-items 不适用于 Flexbox 布局,only Grid */
	padding: 0.5rem;
	list-style-type: none;
}

.footer-links li a {
	color: blue;
}


/* 媒体查询：当屏幕宽度小于 40rem 时 */
@media (max-width: 44rem) {
	/* 显示汉堡按钮 */
	.hamburger-button {
		display: block;
	}

	/* 隐藏菜单，初始状态下 */
	.menu {
		display: none;
		flex-direction: column;
		position: absolute; /* 子绝 */
		right: 0; /* 从右向左扩展 */

		padding: 0;

		background-color: burlywood;
	}
	.menu li {
		white-space: nowrap; /*确保文本不换行*/
	}
	.menu li a {
		display: block; /* 让 a 占满 li */
	}

	/* 当菜单激活时添加一个类显示菜单 */
	.menu.shown {
		display: flex; /* .menu.shown的打开使得原来.menu没有的属性被添加，相同的属性被覆盖 */
	}

	/* 让nav与header-info并排 */
	.header {
		flex-direction: row;
		justify-content: space-between; /* nav与header-info保持在左右两侧 */
		align-items: center;
	}
	.header-info {
		flex: 1; /* nav水平排列来占地方了，让 header-info 占满剩余空间 */
	}

	.main {
		padding: 0 0 2rem 0;
	}

    .card {
        grid-column: span 12;
        display: block;
        margin: 0.5rem;
    }


    .footer-links {
		flex-direction: column;
	}
}