body{
  font-family: 'Maven Pro', sans-serif;
  min-width: 360px;
}

body.light {
  background-color: #f5f0e1;
  color: #333;
}

body.dark {
  background-color: #1f1c1c;
  color: #f5f0e1;
}

.skiplink {
  position: absolute;
  top: -45px; 
  left: 45%;
  
  padding: 8px 16px;
  z-index: 100; 
  transition: top 0.3s;

  background-color: #e7a75c; 
  color: white;
}

.skiplink:focus {
  top: 0; 
}

@media (prefers-reduced-motion: reduce) {
  .skiplink {
    transition: none;
  }
}